.day-columns {
  display: flex;
  width: 100%;
}

.day-column {
  flex: 1;
  text-align: center;
  border: 1px solid white; /* Optional: for better visualization */
  background-color: #7da1c4;
  padding: 25px;
  text-transform: uppercase;
  color: white;
}
