.day-columns {
  display: flex;
  width: 100%;
  font-weight: bold;
  position: absolute; /* Add this */
  top: 0; /* Ensure it's at the top */
  left: 0; /* Align to the left */
  background-color: #7da1c4; /* Match the background for visibility */
  z-index: 10; /* Ensure it's above other elements */
}

.day-column {
  flex: 1;
  text-align: center;
  border: 1px solid white; /* Optional: for better visualization */
  background-color: #7da1c4;
  padding: 25px;
  text-transform: uppercase;
  color: white;
}

.day-column.contractors {
  background-color: #a4d65e;
  flex-grow: 2;
  color: black;
}
